*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%; /* Це забезпечує адаптивність зображення */
    height: auto; /* Зберігає пропорції зображення */
    margin: 0 auto; /* Вирівнює зображення по центру, якщо потрібно */
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}



/* стиль для вікна меню */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 998;
    opacity: 0;
    pointer-events: none;
}
.menu-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}
.menu-button-cloce {
    position: absolute; /* позіціонує відносно батьківського елемента або вікна браузера */
    display: flex; /* для выравнивания контента иконки */
    align-items: center; /* для выравнивания контента иконки */
    justify-content: center; /* для выравнивания контента иконки */
    top: 24px; /* позиция кнопки */
    right: 24px; /* позиция кнопки */
    width: 24px; /* размер кнопки*/
    height: 24px; /* размер кнопки*/
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid #E7E9FC;
    padding: 0;
    cursor: pointer;
}
.menu-navigaciya {
    padding-left: 16px;
    padding-top: 72px;
    padding-bottom: 168px;
}
.menu-ul-navigaciya {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style-type: none; /* уберает точки */
    margin: 0;
    padding: 0;
}
.menu-navigaciya-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none; /* Прибирає нижнє підкреслення */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* стилізуе зміну перходу властивості*/
}
.menu-navigaciya-text:hover,
.menu-navigaciya-text:focus {
    color: #404BBF;
}
.menu-address {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 48px;
    padding-left: 16px;
    
    

}
.menu-ul-address {
    margin: 0;
    padding-left: 0;
    list-style-type: none; /* уберает точки */
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.menu-address-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-address-text:hover,
.menu-address-text:focus {
    color: #4D5AE5;
}
.menu-icons {
    display: flex;
    align-items: center;
   align-content: flex-start;
    gap: 40px;
    list-style-type: none;  /* уберает точки */
    margin: 0;
    padding-left: 16px;   
}
.menu-li-icons {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px
    }
.menu-ul-link {
    display: flex;
    align-items: center;
    justify-content: center;

}
.menu-icons-style {
    fill: #FFFFFF;
}
   

/* стиль для хедера 320px */
.header-style {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 320px;
    height: 56px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}
.header-container {
    display: flex;
    align-items: center;

    /* Елементи розміщуються по краях */
}
.header-logo-text {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase; /* великі букви */
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-decoration: none;
    padding-right: 149px;
    margin: 0;
}
.menu-span-text {
    color: #2E2F42;
}
.header-buttum {
    display: flex;
    align-items: center;
    justify-content: center; 
    border: none;
    background-color: #FFFFFF;
    padding: 0;
    
}
.ul-header {
    display: none;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.ul-header:nth-child(2) {
    gap: 0;
}
.li-padding {
    padding-right: 40px;
}
.nav-li-text-style {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 24px;
    padding-bottom: 24px;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
}
.nav-li-text-style:hover,
.nav-li-text-style:focus {
    color: #404BBF;
}
.li-dekor {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-dekor::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.ul-adress-style {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.address-style {
    display: none;
    align-items: center;
}
.info-style {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;
    font-style: normal;
    /* Прибираємо курсив */
}


/* стиль для первой секции 320px */
.section-one-style {
    width: 100%px;
    height: 432px;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/Dark1.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; /* Зображення покриває весь контейнер */
    background-position: center; /* Центрує зображення в контейнері */
    background-repeat: no-repeat; /* Зображення не повторюється */
}
.container-section-one {
    padding-left: 52px;
    padding-top: 72px;
    padding-right: 52px;
    padding-bottom: 72px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-one-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 72px;
    width: 216px;
}
.section-one-button {
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border-radius: 4px;
    border-style: none;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-one-button:hover,
.section-one-button:focus {
    background-color: #404BBF;
}



/* стиль для второй секции 320px */
.section-two-style {
    width: 100%px;
    margin: 0 auto;
}
.container-section-two {
    padding-left: 16px;
    padding-top: 96px;
    padding-right: 16px;
    padding-bottom: 96px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.div-icons {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.ul-two-section {
    list-style-type: none;  /* уберает точки */
    padding-left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
    margin: 0;
}
.li-two-style {
    width: 280px;
    height: 120px;
}
.section-two-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    padding-bottom: 8px;
}
.section-two-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}


/* стиль для третей секции 320px */
.section-three-style {
    width: 100%px;
    margin: 0 auto;
    background-color: #F4F4FD;
}
.container-section-three {
    padding-left: 28px;
    padding-top: 96px;
    padding-right: 28px;
    padding-bottom: 96px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-three-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    padding-bottom: 72px;
}
.ul-section-three{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 72px;
    margin: 0;
    padding-left: 0;
    list-style-type: none; /* уберает точки */
}
.section-three-li {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding-left: 16px;
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 32px;
}
.section-three-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
.section-three-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.ul-three-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    list-style-type: none; /* уберает точки */
    padding-left: 0;
}
.li-icons-three-style {
    width: 40px;
    height: 40px;
}
.a-icons-style {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a-icons-style:hover,
.a-icons-style:focus {
    background-color: #404BBF;
}
.svg-icon-style {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #FFFFFF;
}

/* стиль для четрертой секции 320px */
.section-four-style {
    width: 100%;
    margin: 0 auto;
    padding-top: 96px;  
    padding-bottom: 96px;
    background-color: #FFFFFF;
}
.container-section-four {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;  
    padding-left: 16px;
    padding-right: 16px;
}
.section-four-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    padding-bottom: 72px;
    overflow: hidden;
}
.ul-four-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 48px;
    padding: 0;
    list-style-type: none;  /* уберает точки */
    margin: 0;
}
.li-four-style {
    position: relative;
    width: 280px;  
    height: 400px;
    
}

.overlay-section-four {
    position: relative;
    overflow: hidden;
}
.paragraf {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 280px;
    width: 288px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
}
.hover-overlay-section-four:hover .paragraf {
    transform: translateY(0%);
}
.li-name-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 16px;
    padding-top: 32px;
    padding-right: 16;
    padding-bottom: 32px;
    border: 1px solid #E7E9FC;
    border-top: none;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-four-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.section-four-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}


/* стиль для футера 320px */
.footer-style {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-color: #2E2F42;
}

.container-footer-style {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 72px;
    padding-left: 16px;
    padding-top: 96px;
    padding-right: 16px;
    padding-bottom: 96px;
}
.style-logo-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;  
}
.logo-webstudio-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}
.logo-span-footer {
    color: #F4F4FD;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 288px;
}
.style-footer-paragraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-bottom: 16px;
    text-align: center;
}
.ul-footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.li-footer-social {
    width: 40px;
    height: 40px;
}
.a-footer-style {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a-footer-style:hover,
.a-footer-style:focus {
    background-color: #31d0aa;
}
.footer-icon-style {
    fill: #FFFFFF;
}
.style-footer-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 8px;
}
.style-footer-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
.input-footer-email {
    width: 288px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding-left: 18px;
}
.input-footer-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #FFFFFF;

}
.style-footer-but {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.style-footer-but:hover,
.style-footer-but:focus {
    background-color: #404BBF;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
}
.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}
.moda-window-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 16px;
    padding-top: 72px;
    padding-right: 16px;
    padding-bottom: 24px;
}

.moda-but {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.moda-but:hover {
    background-color: #404bbf;
    border: none;
}

.moda-but:focus {
    background-color: #404bbf;
    border: none;
}

.style-but-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.moda-but:hover .style-but-icon,
.moda-but:focus .style-but-icon {
    fill: #ffffff;
}

.moda-paragraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.moda-form-style {
    margin-bottom: 8px;
    width: 256px;
}

.moda-lab-style {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.lab-inp-style {
    position: relative;
}
.moda-inp-style {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.moda-inp-style:focus {
    border-color: #4D5AE5;
}
.moda-icon-style {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.moda-inp-style:focus+.moda-icon-style {
    fill: #4D5AE5;

}
.form {
    display: flex;
    align-items: center;
    flex-direction: column
}
.form-text {
    margin-bottom: 16px;
}
.form-text-box {
    width: 256px;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-text-box:focus {
    border-color: #4D5AE5;
}
.form-style-box {
    margin-bottom: 24px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.form-chek-box {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.form-chek-box-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}
input[type="checkbox"]:checked+label .form-chek-box-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.form-link {
    color: #4d5ae5;
}
.form-but {
    display: block;
    width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    padding: 0;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-but:hover,
.form-but:focus {
    background-color: #404BBF;
}

/* правила хедер  */

@media (min-width: 768px) {
    .header-style {
        width: 768px;
        height: 72px;
        }
    .header-buttum {
        display: none;
        }
    .header-logo-text {
        padding-right: 120px;
    }
    .ul-header {
        display: flex;
    }
    .ul-header:first-child {
        gap: 0;
                }
    .address-style {
        display: flex;
    }
    .section-one-style {
        height: 436px;
    }
    .container-section-one {
        padding-left: 136px;
        padding-top: 112px;
        padding-right: 136px;
        padding-bottom: 112px;
        }
    .section-one-text {
        font-size: 56px;
        line-height: 107%;
        width: 496px;

        }
    .section-one-text {
        padding-bottom: 36px;
        }
    .ul-two-section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
        row-gap: 72px;
        }
    .li-two-style {
        width: 356px;
    }
    .section-two-title {
        text-align: start;
    }
    .section-two-text {
        width: 356px;
    }
    .ul-two-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
        row-gap: 72px;
        column-gap: 24px;
        }
    .container-section-three {
        padding-left: 108px;
        padding-right: 108px;
    }
    .ul-section-three {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
        row-gap: 64px;
        column-gap: 24px;
    }
    
    .li-four-style {
        width: 356px;
        height: 420px;
    }
    
    .paragraf {
        width: 100%;
        height: 100%;
        
    }
    .ul-four-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
        row-gap: 72px;
        column-gap: 24px;
    }
    .container-footer-style {
        padding-left: 108px;
        padding-right: 164px;
        align-items: flex-start;
        flex-direction: row;
        justify-content: flex-start;
        gap: 0;
        column-gap: 24px;
        row-gap: 72px;
    }
    .style-logo-footer {
        align-items: flex-start;
    }
    .footer-text {
        width: 264px;
    }

    .style-footer-paragraf {
        text-align: left;
    }
    .social-m {
        margin-right: 80px;
    }
    .style-footer-subscribe {
        text-align: left;
        padding-bottom: 16px;
    }
    .style-footer-form {
        flex-direction: row;
        gap: 24px;
        }
    .moda-window-style {
        width: 408px;
        height: 584px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .moda-form-style {
        width: 360px;
    }
    .form-text-box {
        width: 360px;
    }
    .form-style-box {
        width: 360px;
    }
}


        

    
    


@media (min-width: 1158px) {
    .header-style {
            width: 100%;
        }
    .header-logo-text {
        padding-right: 76px;
    }
    .header-style {
        padding-left: 156px;
        padding-right: 156px;
        margin: 0 auto;
        }
    .info-style {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        }
    .ul-adress-style {
        flex-direction: row;
         gap: 40px;
    }
    .section-one-style {
        height: 600px;
        margin: 0 auto;
    }
    .container-section-one {
        padding-left: 472px;
        padding-top: 188px;
        padding-right: 472px;
        padding-bottom: 188px;
        }
    .section-one-text {
        padding-bottom: 48px;
    }
    .div-icons {
        display: flex;
    }
    .container-section-two {
        padding-left: 156px;
        padding-top: 120px;
        padding-right: 156px;
        padding-bottom: 120px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        }
    .section-two-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
    }
    .section-two-text {
        font-weight: 400;
        width: 264px;
    }
    .ul-two-section {
        justify-content: center;
        gap: 24px;
    }
    .ul-two-section {
        flex-direction: row;
        justify-content: center;
        gap: 24px;}
    .li-two-style {
        width: calc((100% - 72px) / 4);
        height: 100%px;
    }
    .container-section-three {
        padding-left: 156px;
        padding-top: 120px;
        padding-right: 156px;
        padding-bottom: 156px;
        }
    .ul-section-three {
        align-items: center;
    }
    .section-three-li {
        width: calc((100% - 72px) / 4);
    }
    .section-four-style {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .container-section-four {
        padding-right: 156px;
        padding-left: 156px;
    }
    .ul-four-section {
        width: 1128px;
        align-items: center;
        column-gap: 24px;
        row-gap: 48px;
    }
    .li-four-style {
       width: calc((100% - 48px) / 3);
    }
    .li-name-container {
            box-shadow: none;
                }
    .li-name-container:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
                        0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .container-footer-style {
        display: flex;
        align-items: flex-start;
        column-gap: 0;
        padding-left: 156px;
        padding-top: 100px;
        padding-right: 159px;
        padding-bottom: 100px;
    }
    .style-footer-subscribe {
        text-align: left;
        padding-bottom: 16px;
    }
    .style-logo-footer {
        padding-right: 120px;
    }
    .container-forma-footer {
        width: 453px;
    }
   

                
}









/* Для екранів до 767px з 2x щільністю */
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
(max-width: 767px) and (min-resolution: 192dpi) {
    .section-one-style {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/Dark2.jpg');
    }
}

/* --- Для екранів від 768px до 1157px --- */

/* Для екранів від 768px до 1157px з 1x щільністю */
@media (min-width: 768px) and (max-width: 1157px) {
    .section-one-style {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/Dark7681.jpg');
    }
}

/* Для екранів від 768px до 1157px з 2x щільністю */
@media (min-width: 768px) and (max-width: 1157px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 768px) and (max-width: 1157px) and (min-resolution: 192dpi) {
    .section-one-style {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/Dark7682.jpg');
    }
}

/* --- Для екранів від 1158px і більше --- */

/* Для екранів від 1158px з 1x щільністю */
@media (min-width: 1158px) {
    .section-one-style {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people1.jpg');
    }
}

/* Для екранів від 1158px з 2x щільністю */
@media (min-width: 1158px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1158px) and (min-resolution: 192dpi) {
    .section-one-style {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people2.jpg');
    }
}
